<div id="<%= dom_id list %>">
  <p>
    <strong>Name:</strong>
    <%= list.name %>
    Total:
    <%= list.items.count %>
    Uncompleted:
    <%= list.items.where(completed: false).count %>
  </p>

</div>
